<!DOCTYPE html>
<html>
<head>
<title>Main ~ SOS-Bot com/ +</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<style>
body {  }
	
.sitename { font-size: 24px; }
div.subtitle { font-size: 14px; margin-top: 5px; }

.home_button_wrap { position: absolute; right: 10px; top: 125px; padding: 25px; outline: 1px solid #777; }

.hero_wrap { min-height: 175px; }

.extra_help_wrap { outline: 1px dashed #888; width: 85%; margin: 0 auto; padding: 15px; margin-top: 15px; border-top: 4px solid #555; }
.extra_help_wrap ul li { margin-bottom: 5px; }

ul.navList_data li { margin: 15px; }

.func_wrap { margin: 15px;  position: relative; min-height: 125px;  }
.code_wrap { width: 95%; margin: 0 auto; background-color: #e4e4e4; margin-bottom: 45px; }
.code_data { margin: 10px; min-height: 65px; }
.button_wrap { position: absolute; right: 15px; bottom: 5px; }

</style>
</head>
<body>
<span class="sitename"># app ~ SOS-Bot.com/learn</span><br />
<div class="subtitle">https://github.com/Ejected-Media/app_SOS-Bot-com</div>
<hr />

<button onclick="window.location.href='https://github.com/Ejected-Media/app_SOS-Bot-com'">Repo</button>
<div class="home_button_wrap">Home</div>
<div class="hero_wrap">
https://test-sos-bot.appspot.com/
</div>
https://test-sos-bot.appspot.com/

<nav><p>
--- <br />
_ `...` ~
</p>
<ul>
<li>+ 1</li>
<li>+ 2</li>
</ul>
</nav>

<hr />
https://test-sos-bot.appspot.com/
<main>
--- <br />
_ `...` ~

<div>
	<h1>{{.PageTitle}}</h1>
	<h1>{{.PageName}}</h1>
	<h1>{{.PagePath}}</h1>

<p><ul class="navList_data">    {{range .SOSNav}}
<li>+ {{.Title}} &nbsp;{{if .Done}} <button onClick="changePage('{{.Title}}')">Open</button>
   {{else}}
    <button onClick="closePage('{{.Title}}')">Close</button>
     {{end}}
</li>
    {{end}}
</ul></p>

</div>

<script>

function changePage(pageName) {
  window.location.href = "/page/" + pageName;
};

function testPage() {
	window.location.href = "/one";
};

function helloPage() {
	window.location.href = "/hello";
};

function worldPage() {
	window.location.href = "/world";
};
	
</script>



<div>
---
<p>
hi<br />
° Featuring SOS-Bot ~ Students Online Study °
</p>
<p>
_ Major Bot Function Categories . .

<ul>
<li>+ Classes</li>
<li>+ Events</li>
<li>+ People</li>
<li>+ Projects</li>
<li>+ Manage</li>

</ul>
</p>
</div>

<div>
<p>
--- <br />
_ `...` ~</p>

<div>
	
	<p><ul class="navList_data">    {{range .SOSNav}}
<li>+ {{.Title}} &nbsp;{{if .Done}} <button onClick="changePage('{{.Title}}')">Open</button>
   {{else}}
    <button onClick="closePage('{{.Title}}')">Close</button>
     {{end}}
</li>
    {{end}}
</ul></p>

	
	{{range .SOSNav}}
<!-- - . {{.Title}} - -->
<div class="func_wrap">+ {{.Title}}
<div class="code_wrap"><div class="code_data"> ... 
<div id="code_output_{{.Title}}"></div>
</div></div>
<div class="button_wrap">
<button onClick="cleanFunc_{{.Title}}()">Clean</button>
<button onClick="useFunc_{{.Title}}()">Use</button></div>
</div>
{{end}}



</div>

</div>

</main>

<script>

// ~ classSchedule
function useFunc_classSchedule() {
	var useURL = "/action/getDataList_Schedule";
	
	code_output_classSchedule.innerHTML = "5";
}
function cleanFunc_classSchedule() {
	code_output_classSchedule.innerHTML = "";
}

// ~ studentProfiles
function useFunc_studentProfiles() {
	var useURL = "/action/getDataList_Student";
	
	code_output_studentProfiles.innerHTML = "5";
}
function cleanFunc_studentProfiles() {
	code_output_studentProfiles.innerHTML = "";
}

// ~ paymentInformation
function useFunc_paymentInformation() {
	var useURL = "/action/getDataList_Payments";
	
	code_output_paymentInformation.innerHTML = "5";
}
function cleanFunc_paymentInformation() {
	code_output_paymentInformation.innerHTML = "";
}

// ~ studentAttenance
function useFunc_studentAttenance() {
	var useURL = "/action/getDataList_Attenance";
	
	code_output_studentAttenance.innerHTML = "5";
}
function cleanFunc_studentAttenance() {
	code_output_studentAttenance.innerHTML = "";
}

// ~ classEvent
function useFunc_classEvent() {
	var useURL = "/action/getDataList_Events";
	
	code_output_classEvent.innerHTML = "5";
}
function cleanFunc_classEvent() {
	code_output_classEvent.innerHTML = "";
}
	
// ~ studentHomework
function useFunc_studentHomework() {
	var useURL = "/action/getDataList_Homework";
	
	code_output_studentHomework.innerHTML = "5";
}
function cleanFunc_studentHomework() {
	code_output_studentHomework.innerHTML = "";
}
	
// ~ classMovies
function useFunc_classMovies() {
	var useURL = "/action/getDataList_Movie";
	
	code_output_classMovies.innerHTML = "5";
}
function cleanFunc_classMovies() {
	code_output_classMovies.innerHTML = "";
}


// ~ studentFeildtrip
function useFunc_studentFeildtrip() {
	var useURL = "/action/getDataList_Feildtrip";
	
	code_output_studentFeildtrip.innerHTML = "5";
}
function cleanFunc_studentFeildtrip() {
	code_output_studentFeildtrip.innerHTML = "";
}

// ~ classQuestions
function useFunc_classQuestions() {
	var useURL = "/action/getDataList_Question";
	
	code_output_classQuestions.innerHTML = "5";
}
function cleanFunc_classQuestions() {
	code_output_classQuestions.innerHTML = "";
}

// ~ classMovies
function useFunc_classMovies() {
	code_output_classMovies.innerHTML = "5";
}
function cleanFunc_classMovies() {
	code_output_classMovies.innerHTML = "";
}

// ~ studentWorkshops
function useFunc_studentWorkshops() {
	var useURL = "/action/getDataList_Workshop";
	
	code_output_studentWorkshops.innerHTML = "5";
}
function cleanFunc_studentWorkshops() {
	code_output_studentWorkshops.innerHTML = "";
}

// ~ listClass
function useFunc_listClass() {
	var useURL = "/action/getDataList_Claases";
	
	code_output_listClass.innerHTML = "5";
}
function cleanFunc_listClass() {
	code_output_listClass.innerHTML = "";
}

// ~ loadClass
function useFunc_loadClass() {
	var useURL = "/action/loadID_Class";
	
	code_output_loadClass.innerHTML = "5";
}
function cleanFunc_loadClass() {
	code_output_loadClass.innerHTML = "";
}

// ~ joinClass
function useFunc_joinClass() {
	code_output_joinClass.innerHTML = "5";
}
function cleanFunc_joinClass() {
	code_output_joinClass.innerHTML = "";
}

// ~ leaveClass
function useFunc_leaveClass() {
	code_output_leaveClass.innerHTML = "5";
}
function cleanFunc_leaveClass() {
	code_output_leaveClass.innerHTML = "";
}

// ~ addHomework
function useFunc_addHomework() {
	code_output_addHomework.innerHTML = "5";
}
function cleanFunc_addHomework() {
	code_output_addHomework.innerHTML = "";
}

// ~ startClass
function useFunc_startClass() {
	code_output_startClass.innerHTML = "5";
}
function cleanFunc_startClass() {
	code_output_startClass.innerHTML = "";
}

// ~ meetTeacher
function useFunc_meetTeacher() {
	code_output_meetTeacher.innerHTML = "5";
}
function cleanFunc_meetTeacher() {
	code_output_meetTeacher.innerHTML = "";
}

// ~ askQuestions
function useFunc_askQuestions() {
	code_output_askQuestions.innerHTML = "5";
}
function cleanFunc_askQuestions() {
	code_output_askQuestions.innerHTML = "";
}

// ~ meetStudents
function useFunc_meetStudents() {
	code_output_meetStudents.innerHTML = "5";
}
function cleanFunc_meetStudents() {
	code_output_meetStudents.innerHTML = "";
}
	
	

</script>

</body>
</html>